<!-- YE_BA -->

<!-- Generated template for the ListFluxComponent component -->
<ion-item-sliding>
    <!-- <ion-list *ngFor= 'let flux of ListFlux' >
        <h3>{{flux.title}}</h3>
    </ion-list> -->
    
    <!-- <ion-item>
      <h2>{{flux.title}}</h2>
    </ion-item> -->

        <!-- <ion-item [ngStyle]="{'border-right-color':'#' + category.color }"> -->
        
    <ion-item>
          <!-- <h2>{{flux.title}}</h2> -->
          <h2>flux1</h2>
    </ion-item>
    
    <ion-item-options side="right">
      <!-- <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
      </button> -->
      <button ion-button color="danger" icon-start (click)="remove(flux.id)">
          <ion-icon name="trash"></ion-icon>  
      </button>
    </ion-item-options>
  </ion-item-sliding>

<!-- YE_EA -->
