<!-- YE_BA -->

<!-- Generated template for the ListFluxComponent component -->
<ion-item-sliding>
        
    <ion-item>
          <h2>{{flux.title}}</h2>
    </ion-item>
    
    <ion-item-options side="right">
      <button ion-button color="thirdly" icon-start (click)="modify(flux.id)">
          <ion-icon name="modify"></ion-icon>
      </button>
      <button ion-button color="danger" icon-start (click)="remove(flux.id)">
          <ion-icon name="trash"></ion-icon>  
      </button>
    </ion-item-options>
  </ion-item-sliding>

<!-- YE_EA -->
