<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Floux</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="light" clear (click)="openModal()">
            <ion-icon ios="ios-add" md="md-add" ></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header >

        

<ion-content padding text-center>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
    </ion-refresher>
    <div style="text-align: center; font-size: 20px; color: rgb(100,100,100); padding: 50px" *ngIf=" feeds.length < 1 ">Aucun article disponible.<br><br> Veuillez ajouter un flux à l'aide de l'icone <b>+</b> situé en haut à droite de votre écran. </div>
    <div *ngIf="loading" class="loading-spinner" style="text-align: center;">
        <ion-spinner class="spinner spinner-ios spinner-crescent spinner-ios-crescent"></ion-spinner>
    </div>

    <ion-list>
        <div *ngFor='let feed of feeds'>
            <feed (click)="goToFeedPage(feed)" [feed]='feed'></feed>
        </div>
    </ion-list>
</ion-content>