<!-- Generated template for the CategoryComponent component -->
<ion-item-sliding >
  <ion-item [ngStyle]="{'border-right-color':'#' + category.color }">
    <h2>{{ category.title }} </h2>
  </ion-item>
    
  <ion-item-options side="right">
    <button ion-button color="thirdly" icon-start (click)="openModal()">
      <ion-icon name="create"></ion-icon>
    </button>
    <button ion-button color="danger" icon-start (click)="remove(category.id)">
      <ion-icon name="trash"></ion-icon>
    </button>
    </ion-item-options>
  </ion-item-sliding>