<!-- YE_BA -->

<!-- Generated template for the ListFluxComponent component -->
<ion-item-sliding>
    <!-- <ion-list *ngFor= 'let flux of ListFlux' >
        <h2>{{flux.title}}</h2>
    </ion-list> -->
    
    <!-- <ion-item>
      <h2>{{flux.title}}</h2>
    </ion-item> -->
    
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button color="dark">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item-options>
  </ion-item-sliding>

<!-- YE_EA -->

